
/* from Question&Answer */
.quizAnswer{
  width: 80%;
  min-height: 64px;
  background: rgba(33,55,2,.5);
  margin-left: 10%;
  box-shadow: 4px 6px 8px white;
}

.answerBtn{
  min-width: 120px;
  height: 25px;
  border: none;
  margin-left: 4%;
  padding-bottom: 1%;
}

.questionList{
  width: 80%;
  margin-left: 2%;
  color: white;
  font-size: 20px; 
}
h1{text-align: center;
}

/* from Replay.js */
.replayBox{
  width: 85%;
  min-height: 220px;
  margin-left: 7.5%;
  background: yellowgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.showScore{
  font-size: 22px;
  font-weight: bold;
}
.rematch{
  width: 140px;
  height: 35px;
  border: none;
  color: wheat;
  background: black;
  font-size: 20px;
}